{% extends 'layout.html' %}

{% load staticfiles %}

{% block javascript %}
  <script>
    window.Kvikshaug.price_history = JSON.parse("{{ price_history|escapejs }}");
    window.Kvikshaug.price_history_title = "Kurs siste 24 timer";
  </script>
{% endblock %}

{% block body %}

  <h1>Kjøp og selg bitcoins</h1>

  <hr>


  <div class="current-price">
    <p class="date-label">
      Gjeldende kurs pr. {% now "j. F Y H:i:s" %}
    </p>

    <div class="row">
      <div class="col-xs-6">

        <div class="buy text-right">
          <div class="buy-label">
            Kjøp
          </div>
          <div class="price">
            kr. {{ price.buy_price|floatformat:2 }}
          </div>
        </div>

      </div>
      <div class="col-xs-6">

        <div class="sell">
          <div class="buy-label">
            Salg
          </div>
          <div class="price">
            kr. {{ price.sell_price|floatformat:2 }}
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="chart"></div>

  <hr>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th colspan="2">Avtal handel</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>IRC</th>
          <td>
            <strong>/q murr4y</strong> på <a href="https://freenode.net/">freenode</a>
          </td>
        </tr>
        <tr>
          <th>Web</th>
          <td>
            Bruk dette skjemaet
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <hr>

  <h2>Slik handler du med meg</h2>

  <p>
    Jeg kjøper og selger bitcoins mot norske kroner. Kursen følger markedet og er til enhver tid oppdatert på denne siden.
  </p>

  <p>
    Når du tar kontakt via IRC eller web, avtaler vi handel til gjeldende kurs. Så sender du <strong>nøyaktig beløp</strong> av kroner eller bitcoins til kontoen/adressen du får, og når overføringen er registrert sender jeg tilbake avtalt beløp.
  </p>

  <p>
    Det kan ta sin tid før pengene er overført, dersom vi ikke har samme bank (jeg har Sparebanken Sør). Hvis du avtaler en handel fredag ettermiddag, er det ikke sikkert jeg kan sende deg bitcoins før mandag morgen.
  </p>

  <p>
    <strong>
      Avtal alltid handel på forhånd, og send nøyaktig beløp til oppgitt adresse.
    </strong>
  </p>

  <hr>

  <h2>Spørsmål og svar</h2>

  <div class="faq">

    <dt>Er dette en børs?</dt>
    <dd>Nei, jeg er en privatperson som kjøper og selger bitcoins på hobbybasis.</dd>

    <dt>Hvor ofte er du tilgjengelig for handel?</dt>
    <dd>Jeg er som oftest online og tilgjengelig hver dag, men ikke nødvendigvis til enhver tid. Jeg svarer alltid til slutt. Hvis jeg mot formodning må gå AFK over lengre tid gir jeg beskjed om det på denne siden.</dd>

    <dt>Kan jeg benytte kursen som gjelder når overføringen er fullført?</dt>
    <dd>Ja, da må du spørre om det. Du står i så fall selv ansvarlig for svingninger i kursen frem til pengene er overført.</dd>

    <dt>Jeg sendte feil beløp! Hva gjør jeg?</dt>
    <dd><em>Ta kontakt med en gang.</em> Hvis du ikke tar kontakt, får du ikke noe tilbake. Jeg bruker nøyaktig beløp til å gjenkjenne en handel. Ikke send evt. mellomlegg uten å ta kontakt først.</dd>

    <dt>Kan jeg overføre kroner uten å avtale på forhånd, og få bitcoins til gjeldende kurs?</dt>
    <dd><em>Nei</em>. Aldri overfør penger uten å avtale en handel først.</dd>

    <dt>Kan jeg overføre bitcoins uten å avtale på forhånd, og få kroner til gjeldende kurs?</dt>
    <dd>Ikke for øyeblikket, men dette er noe jeg ønsker å få til en dag.</dd>

    <dt>Kan du sende meg bitcoins før pengene jeg har sendt er overført?</dt>
    <dd>Nei, dessverre.</dd>

    <dt>Hva er det som bestemmer kursen?</dt>
    <dd>Kursen følger til markedsprisen, med en liten kommisjon så jeg ikke går med tap. Hva som styrer markedsprisen til bitcoin <a href="https://bitcoin.org/en/you-need-to-know#volatile">er ikke like enkelt å si</a>.</dd>

    <dt>Hvordan vet jeg at jeg snakker med deg, og ikke noen som utgir seg for å være deg?</dt>
    <dd>Jeg har registrert nicket <em>murr4y</em> på Freenode, <a href="https://freenode.net/faq.shtml#spoofing">sjekk at jeg er identifisert</a>. Hvis du vil være helt sikker, kan du be meg signere en melding med min <a href="{% static "pgp/3624_317D_5BD2_01F8_E93D__9BD1_916A_7833_0030_199E.asc" %}">PGP-nøkkel</a>.</dd>

    <dt>Hvordan kan jeg stole på at du gjennomfører din del av handelen?</dt>
    <dd>Du må selv vurdere hvorvidt du føler at jeg er troverdig.</dd>

    <dt>Hvem er du, anyway?</dt>
    <dd>Jeg heter Ali og <a href="https://kvikshaug.no/">jeg er en datanerd fra Grimstad</a>.</dd>

    <dt>Tar du vare på opplysninger om hvem du handler med?</dt>
    <dd>Nei, jeg sletter alle opplysninger straks handelen er fullført. Jeg har aldri blitt bedt om å oppgi opplysninger om tidligere handler, og hvis jeg blir det så gir jeg enten beskjed her eller tar bort denne teksten.</dd>

  </div>

  <hr>

  <h2>Kontakt</h2>

  <p>
    <strong>/q murr4y</strong> på <a href="https://freenode.net/">freenode</a> eller send epost til <a href="mailto:ali@kvikshaug.no">Ali Kaafarani &lt;ali@kvikshaug.no&gt;</a> (<a href="{% static "pgp/3624_317D_5BD2_01F8_E93D__9BD1_916A_7833_0030_199E.asc" %}">PGP-nøkkel</a>). Jeg handler ikke bitcoins via epost.
  </p>

{% endblock %}
